@model PagedList.IPagedList<ContosoUniversity.Models.Course>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Courses";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Course", new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Course", FormMethod.Get))
{
    <p>
        Search by Title:
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(c => c.FirstOrDefault().ID)
        </th>
        <th>
            @Html.ActionLink("Course Title", "Index", new { sortOrder = ViewBag.TitleSort,
           currentFilter = ViewBag.CurrentFilter
       })
        </th>
        <th>
            @Html.ActionLink("Credits", "Index", new { sortOrder = ViewBag.GradeSort,
           currentFilter = ViewBag.CurrentFilter
       })
        </th>
        <th>
            Department
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

Page @( Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber ) of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new { page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter}))