@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}
<h2>@ViewBag.Title</h2>


    <table class="table table-hover">
        <tr>
            <th>@Html.DisplayNameFor(m => m.EnrollmentDate)</th>
            <th>@Html.DisplayNameFor(m => m.StudentCount)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StudentCount)
                </td>
            </tr>
        }
    </table>